In [18]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

ImportError: No module named matplotlib.pyplot

In [19]:
token = '79a96401-05b9-a1d9-7800-2d7f8d238cbf'

In [20]:
# Grado promedio de escolaridad de la población de 15 y más años (1005000038)
r = requests.get('http://www3.inegi.org.mx/sistemas/api/indicadores/v1/Indicador/1005000038/01/es/false/json/79a96401-05b9-a1d9-7800-2d7f8d238cbf')

In [21]:
x = r.json()
print(x)

{u'Data': {u'Serie': [{u'CurrentValue': u'No disponible', u'DescriptionPeriod': u'1995', u'SourcesPeriod': u'INEGI Conteo de Poblaci\xf3n y Vivienda 1995.', u'NotesPeriod': u'', u'TimePeriod': u'1995', u'ValueStatus': u'Definitiva'}, {u'CurrentValue': u'8', u'DescriptionPeriod': u'2000', u'SourcesPeriod': u'INEGI XII Censo General de Poblaci\xf3n y Vivienda 2000.', u'NotesPeriod': u'', u'TimePeriod': u'2000', u'ValueStatus': u'Definitiva'}, {u'CurrentValue': u'8.7', u'DescriptionPeriod': u'2005', u'SourcesPeriod': u'INEGI II Conteo de Poblaci\xf3n y Vivienda 2005.', u'NotesPeriod': u'', u'TimePeriod': u'2005', u'ValueStatus': u'Definitiva'}, {u'CurrentValue': u'9.23', u'DescriptionPeriod': u'2010', u'SourcesPeriod': u'INEGI Censo de Poblaci\xf3n y Vivienda 2010.', u'NotesPeriod': u'', u'TimePeriod': u'2010', u'ValueStatus': u'Definitiva'}, {u'CurrentValue': u'9.72597472304436', u'DescriptionPeriod': u'2015 ', u'SourcesPeriod': u'', u'NotesPeriod': u'', u'TimePeriod': u'2015', u'ValueStatus': u'Definitiva'}], u'GeneralSource': None, u'GeneralNote': u''}, u'MetaData': {u'LastUpdate': u'', u'Indicator': 1005000038, u'Name': u'Grado promedio de escolaridad de la poblaci\xf3n de 15 y m\xe1s a\xf1os', u'Region': u'Aguascalientes,Estatal ', u'NoOfDecimals': u'1', u'Freq': u'Quinquenal', u'CreationDate': u'13/03/2018 12:05:23 a.m.', u'Unit': u'A\xf1os de escolaridad'}}

In [30]:
#print(x['Data']['Serie'])
escolaridad = pd.DataFrame(x['Data']['Serie'])

In [31]:
escolaridad.describe()

,CurrentValue,DescriptionPeriod,NotesPeriod,SourcesPeriod,TimePeriod,ValueStatus
count,5,5,5,5,5,5
unique,5,5,1,5,5,1
top,8.7,2005,,INEGI Censo de Población y Vivienda 2010.,2005,Definitiva
freq,1,1,5,1,1,5

In [32]:
escolaridad

,CurrentValue,DescriptionPeriod,NotesPeriod,SourcesPeriod,TimePeriod,ValueStatus
0,No disponible,1995,,INEGI Conteo de Población y Vivienda 1995.,1995,Definitiva
1,8,2000,,INEGI XII Censo General de Población y Viviend...,2000,Definitiva
2,8.7,2005,,INEGI II Conteo de Población y Vivienda 2005.,2005,Definitiva
3,9.23,2010,,INEGI Censo de Población y Vivienda 2010.,2010,Definitiva
4,9.72597472304436,2015,,,2015,Definitiva

In [25]:
#Cantidad de tomas de agua en operación para abastecimiento público (6200093528)
p = requests.get('http://www3.inegi.org.mx/sistemas/api/indicadores/v1/Indicador/6200093528/00000/es/false/json/79a96401-05b9-a1d9-7800-2d7f8d238cbf')

In [26]:
y = p.json()
print(y)
tomas_agua = pd.DataFrame(y['Data']['Serie'])

{u'Data': {u'Serie': [{u'CurrentValue': u'15529', u'DescriptionPeriod': u'2010', u'SourcesPeriod': u'INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2011.', u'NotesPeriod': u'', u'TimePeriod': u'2010', u'ValueStatus': u'Definitiva'}, {u'CurrentValue': u'18627', u'DescriptionPeriod': u'2012', u'SourcesPeriod': u'INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2013.', u'NotesPeriod': u'', u'TimePeriod': u'2012', u'ValueStatus': u'Definitiva'}, {u'CurrentValue': u'21227', u'DescriptionPeriod': u'2014', u'SourcesPeriod': u'INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.INEGI Censo Nacional de Gobiernos Municipales y Delegacionales 2015. Modulo ambiental de agua potable y saneamiento.', u'NotesPeriod': u'', u'TimePeriod': u'2014', u'ValueStatus': u'Definitiva'}], u'GeneralSource': None, u'GeneralNote': u''}, u'MetaData': {u'LastUpdate': u'', u'Indicator': 6200093528L, u'Name': u'Cantidad de tomas de agua en operaci\xf3n para abastecimiento p\xfablico', u'Region': u'Estados Unidos Mexicanos', u'NoOfDecimals': u'0', u'Freq': u'Bienal', u'CreationDate': u'13/03/2018 12:05:50 a.m.', u'Unit': u'N\xfamero'}}

In [27]:
tomas_agua.describe()

,CurrentValue,DescriptionPeriod,NotesPeriod,SourcesPeriod,TimePeriod,ValueStatus
count,3,3,3,3,3,3
unique,3,3,1,3,3,1
top,18627,2012,,INEGI Censo Nacional de Gobiernos Municipales ...,2012,Definitiva
freq,1,1,3,1,1,3

In [28]:
tomas_agua

,CurrentValue,DescriptionPeriod,NotesPeriod,SourcesPeriod,TimePeriod,ValueStatus
0,15529,2010,,INEGI Censo Nacional de Gobiernos Municipales ...,2010,Definitiva
1,18627,2012,,INEGI Censo Nacional de Gobiernos Municipales ...,2012,Definitiva
2,21227,2014,,INEGI Censo Nacional de Gobiernos Municipales ...,2014,Definitiva

In [29]:
tomas_agua.dtypes

CurrentValue         object
DescriptionPeriod    object
NotesPeriod          object
SourcesPeriod        object
TimePeriod           object
ValueStatus          object
dtype: object

In [33]:
escolaridad.dtypes

CurrentValue         object
DescriptionPeriod    object
NotesPeriod          object
SourcesPeriod        object
TimePeriod           object
ValueStatus          object
dtype: object

In [34]:
tomas_agua.CurrentValue= tomas_agua.CurrentValue.astype('float64')
tomas_agua.DescriptionPeriod = pd.to_datetime(tomas_agua.DescriptionPeriod)

In [39]:
plt.plot(tomas_agua.DescriptionPeriod, tomas_agua.CurrentValue)

NameError: name 'plt' is not defined

In [35]:
escolaridad.CurrentValue= tomas_agua.CurrentValue.astype('float64')
escolaridad.DescriptionPeriod = pd.to_datetime(escolaridad.DescriptionPeriod)

In [38]:
plt.plot(escolaridad.DescriptionPeriod, escolaridad.CurrentValue)

NameError: name 'plt' is not defined

In [40]:
import mysql.connector
from mysql.connector import Error

In [41]:
def connect():
    """ Connect to MySQL database """
    try:
        conn = mysql.connector.connect(host='localhost',
                                       database='DB_PRODUCTOS',
                                       user='root',
                                       password='*******')
        if conn.is_connected():
            print('Connected to MySQL database')
 
    except Error as e:
        print(e)
 
    finally:
        conn.close()

In [42]:
mysql_cn= mysql.connector.connect(host='localhost', 
                port=3306,user='root', passwd='greenshark', 
                db='productos1')
df_mysql = pd.read_sql('select * from productos;', con=mysql_cn) 
df_mysql.head()
print 'loaded dataframe from MySQL. records:', len(df_mysql)

loaded dataframe from MySQL. records: 3

In [43]:
df_mysql.head()

  codigo          nombre  precio   fechaalta  categoria
0    a01        Afilador     2.5  2007-11-02  utensilio
1    s01  Silla mod. ZAZ    20.0  2007-11-03      silla
2    s02  Silla mod. XAX    25.0  2007-11-03      silla

Git Third commit